<div class="row">
  <div class="col-sm-3">
    <app-filters></app-filters>
  </div>
  <div class="col-md-9">
  <div class="searchGridCategory">
    <div id="search_results" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="postBlock-category">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 listing-image">
                    <figure>
                      <a href="#">
                      <img src="" alt="">
                      </a>
                    </figure>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 listing-details">
                    <p class="postblocks-heading" title="Mercedes-Benz G-Class 55 AMG 2011">Mercedes-Benz G-Class 55 AMG 2011</p>
                    <div class="priceAndBtn">
                      <span class="product-price">$5,000 <img src="assets/reserveMet.gif"></span>
                      <span style="margin-left:40px;">
                        <a href="#" class="buyNow">Buy Now</a>
                      </span>
                      <span style="margin-left:10px;">
                        <a href="#" class="shortlist">shortlist</a>
                      </span>                  
                    </div>
                    <div class="post-info">
                      <span class="info-text">Diesel</span><span class="divide-pipe"> | </span>
                      <span class="info-text">SUV</span><span class="divide-pipe"> | </span>
                      <span class="info-text">83938 Kms</span><span class="divide-pipe"> | </span>
                      <span class="info-text">3000 cc</span><span class="divide-pipe"> | </span>
                      <span class="info-text">NZ New</span><span class="divide-pipe"> | </span>
                      <span class="info-text">Automatic</span>
                    </div>
                    <p style="color:#828282; font-size:14px;">Listed Today</p>
                    <div class="view-listing">
                      <span class="viewListing-btn">VIEW LISTING DETAILS</span>
                    </div>
                    <div class="product-location clearfix">
                      <span>
                        <img src="assets/location-icon.png"> Hamilton, Waikato
                      </span>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>