<div class="col-sm-9">
    <div class="row">
        <ul class="nav nav-pills nav-justifie">
            <li [ngClass]="{ 'active': showDNClass }" class="cst-width"><a class="custm-btn-pill custm-darkBlue" data-toggle="pill" href="#CarDetails" (click)="setVariables('carDetailsTab')">Car Details</a></li>
            <li [class.active]="toTrue" class="cst-width"><a class="custm-btn-pill custm-darkBlue" data-toggle="pill" href="#ListingDetails" (click)="setVariables('listingDetailsTab')">Listing Details</a></li>
            <li [ngClass]="{ 'active': showPhotoClass }" class="cst-width"><a class="custm-btn-pill custm-darkBlue" data-toggle="pill" href="#Photos" (click)="setVariables('showPhotosTab')">Photos</a></li>
            <li [class.active]="showDetailsClass" class="cst-width"><a class="custm-btn-pill custm-darkBlue" data-toggle="pill" href="#Confirmation" (click)="setVariables('detailsConfirmationTab')">Confirmation</a></li>
        </ul>
    </div>
</div>
<div class="col-sm-9 margin-top-50">
    <div class="row">
        <div class="tab-content">
            <div role="tabpanel" [ngClass]="{ 'active': showDNClass }" id="CarDetails" class="tab-pane fade in active" #carDetails>
                <form role="form" (submit)="Post($event, plate.value)">
                    <div class="input-group margin--15 col-xs-12 vin-block">
                        <label class="" for="plateNumber">Please enter your plate number or VIN.</label>
                        <input type="text" #plate class="form-control  custm-input-design" id="" placeholder="Enter your number plate or VIN" />
                        <br/>
                        <button type="submit" class="btn btn-default carJamButton">Get car details</button>
                    </div>
                </form>
                <p class="carDetailsHeading">Enter your car details.</p>
                <form role="form" #f="ngForm" (ngSubmit)="createPost()">
                    <div class="vin-block">
                        <input type="hidden" id="category_id" name="category_id" class="custm-input-design" value="1" [(ngModel)]="postmodel.category_id" #category_id="ngModel" />
                        <input type="hidden" [(ngModel)]="postmodel.location" #location="ngModel" class="custm-input-design" id="location" name="location" value="NewZealand" />
                        <input type="hidden" [(ngModel)]="postmodel.main_category" #category_id="ngModel" class="custm-input-design" id="main_category" name="main_category" value="Cars" />
                        <input type="hidden" [(ngModel)]="postmodel.amount" #amount="ngModel" class="custm-input-design" id="amount" name="amount" value="10" />
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="title" class="postTitle">Post Title</label>
                                    <input type="text" class="form-control post-title custm-input-design" id="title" name="title" [(ngModel)]="postmodel.title" #title="ngModel" placeholder="post title">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="carMake" class="">Make</label>
                                    <input auto-complete (keyup)="clearInput(inputValue)" class="form-control custm-input-design" id="make" name="Make" [source]="carMakeArray" (valueChanged)="valueChanged($event)" placeholder="Make" [max-num-list]="15" [ngModel]="postmodel.make" #make="ngModel" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="carModel" class="">Model</label>
                                    <input auto-complete class="form-control custm-input-design" id="model" name="model" [source]="selectedArray" (valueChanged)="valueChanged($event)" [placeholder]="place" [max-num-list]="15" [(ngModel)]="postmodel.model" #model="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="model_detail" class="">Model detail</label>
                                    <input type="text" class="form-control model-detail custm-input-design" id="model_detail" name="model_detail" placeholder="model details" [(ngModel)]="postmodel.model_detail" #model_detail="ngModel">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="carYear" class="">Year</label>
                                    <input type="text" id="carYear" name="carYear" class="form-control car-year custm-input-design" placeholder="year of manufacture" [(ngModel)]="postmodel.carYear" #carYear="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="kilometers_used" class="">Kilometres</label>
                                    <input type="text" class="form-control kilometers_used custm-input-design" id="kilometers_used" name="kilometers_used" placeholder="" [(ngModel)]="postmodel.kilometers_used" #kilometers_used="ngModel">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="exterior_color" class="">Exterior colour</label>
                                    <input type="text" id="exterior_color" name="exterior_color" class="form-control exterior-colour custm-input-design" placeholder="color" [(ngModel)]="postmodel.exterior_color" #exterior_color="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="carDoors" class="">Doors</label>
                                    <input type="text" class="form-control car-doors custm-input-design" id="doors" name="doors" placeholder="" [(ngModel)]="postmodel.doors" #doors="ngModel">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="bodyType" class="">Body Style</label>
                                    <input auto-complete class="form-control plate-number custm-input-design" id="bodystyle" name="bodyType" [source]="bodyTypeArray" (valueChanged)="valueChanged($event)" placeholder="Body Style" [(ngModel)]="postmodel.body_style" #body_style="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="fuelType" class="">Fuel Type</label>
                                    <input auto-complete class="form-control plate-number custm-input-design" id="fuelType" name="fuelType" [source]="fuelTypeArray" (valueChanged)="valueChanged($event)" placeholder="Fuel Type" [(ngModel)]="postmodel.fuel_type" #fuel_type="ngModel" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="cylinders" class="">Cylinders</label>
                                    <input auto-complete class="form-control cylinders custm-input-design" id="cylinders" name="cylinders" [source]="cylindersArray" (valueChanged)="valueChanged($event)" placeholder="Cylinders" [(ngModel)]="postmodel.cylinders" #cylinders="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="engineSize " class="">Engine size</label>
                                    <input type="text" class="form-control engine_size custm-input-design" id="engine_size" name="engine_size" [(ngModel)]="postmodel.engine_size" #engine_size="ngModel" placeholder="">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="transmissionType" class="">Transmission</label>
                                    <input auto-complete class="form-control transmissionType custm-input-design" id="transmissionType" name="transmissionType" [source]="transmissionArray" (valueChanged)="valueChanged($event)" placeholder="Transmission" [(ngModel)]="postmodel.transmission" #transmission="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="engineSize " class="">4WD</label>
                                    <input type="text" class="form-control four_wd custm-input-design" id="four_wd" name="four_wd" [(ngModel)]="postmodel.four_wd" #four_wd="ngModel" placeholder="" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="noOfOwners" class="number-of-owners">Number of owners</label>
                                    <input auto-complete class="form-control number-of-owners custm-input-design" id="noOfOwners" name="noOfOwners" [source]="noOfOwnersArray" (valueChanged)="valueChanged($event)" placeholder="" [(ngModel)]="postmodel.no_of_owners" #no_of_owners="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="importHistory " class="">Import History</label>
                                    <input auto-complete class="form-control custm-input-design" id="importHistory" name="importHistory" [source]="importHistoryArray" (valueChanged)="valueChanged($event)" placeholder="" [(ngModel)]="postmodel.import_history" #import_history="ngModel" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="registrationExpires" class="">Registration Expires</label>
                                    <input auto-complete class="form-control custm-input-design" id="registrationExpires" name="registrationExpires" [source]="registrationExpireArray" (valueChanged)="valueChanged($event)" placeholder="" [(ngModel)]="postmodel.registration_exp" #registration_exp="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="WoFExpires" class="">WoF expires</label>
                                    <input auto-complete class="form-control custm-input-design" id="WoFExpires" name="WoFExpires" [source]="WoFArray" (valueChanged)="valueChanged($event)" placeholder="" [(ngModel)]="postmodel.Wof_expires" #Wof_expires="ngModel" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group margin--15 col-xs-12">
                                    <label for="carPlate" class="carPlate">Number plate</label>
                                    <input type="text" id="carPlate" name="carPlate" class="form-control custm-input-design" placeholder="plate number" [(ngModel)]="postmodel.Plate_no_VIN" #Plate_no_VIN="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="carFeatures" class="">Features</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="abs_brakes" name="abs_brakes" value="0" [(ngModel)]="postmodel.abs_brakes" #abs_brakes="ngModel">ABS brakes</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="alarm" name="alarm" value="0" [(ngModel)]="postmodel.alarm" #alarm="ngModel">Alarm</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="central_locking" name="central_locking" value="0" [(ngModel)]="postmodel.central_locking" #central_locking="ngModel">Central locking</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="passenger_airbag" name="passenger_airbag" value="0" [(ngModel)]="postmodel.passenger_airbag" #passenger_airbag="ngModel">Passenger airbag</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="sunroof" name="sunroof" value="0" [(ngModel)]="postmodel.sunroof" #sunroof="ngModel">Sunroof</label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="air_conditioning" name="air_conditioning" value="0" [(ngModel)]="postmodel.air_conditioning" #air_conditioning="ngModel">Air conditioning</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="alloy_wheels" name="alloy_wheels" value="0" [(ngModel)]="postmodel.alloy_wheels" #alloy_wheels="ngModel">Alloy wheels</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="driver_airbag" name="driver_airbag" value="0" [(ngModel)]="postmodel.driver_airbag" #driver_airbag="ngModel">Driver airbag</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="power_steering" name="power_steering" value="0" [(ngModel)]="postmodel.power_steering" #power_steering="ngModel">Power steering</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="towbar" name="towbar" value="0" [(ngModel)]="postmodel.towbar" #towbar="ngModel">Towbar</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="comment">Description:</label>
                                    <textarea class="form-control" rows="5" id="description" name="description" [(ngModel)]="postmodel.description" #description="ngModel"></textarea>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-default nxt-btn login-btn" (click)="onClickChangeT('carDetailsbtn')">Next</button>
                    </div>
                </form>
            </div>
            <div role="tabpanel" [class.active]="toTrue" [class.in]="toTrue" id="ListingDetails" class="tab-pane fade" #tabsRef>
                <form role="form">
                  <div class="vin-block">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="listingType" class="">Listing Type </label>
                        </div>
                        <div class="col-xs-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="" name="listType">List a classified</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="" name="listType">Run an auction</label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            <div class="input-group margin--15 col-xs-12">
                                <label for="carKilometres " class="">Asking Price $</label>
                                <input type="number" class="form-control custm-input-design plate-number" id="" placeholder="0.00">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group margin--15 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Or Near Offer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            <label for="approxValue" class="">Approximate value</label>
                            <input auto-complete #inputValue class="form-control custm-input-design plate-number" id="approxValue" name="approxValue" [source]="approxValueArray" (valueChanged)="valueChanged($event)" placeholder="choose..." [(ngModel)]="approxValue" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="listingType" class="">On Road Costs</label>
                        </div>
                        <div class="col-xs-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="" name="onRoadCosts">Excluded - additional costs may apply</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="" name="onRoadCosts">Included - vehicle is legally road-worthy</label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="listingType" class="">Listing Duration</label>
                        </div>
                        <div class="col-xs-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="" (click)="onRadioSelect()" name="listingDuration">Fixed length</label>
                                <input auto-complete #inputValue class="form-control plate-number custm-input-design" id="fixedLength" name="fxdLength" [source]="fixedLengthArray" (valueChanged)="valueChanged($event)" placeholder="" [(ngModel)]="fxdLength" [disabled]="!isRadioSelected" />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="" name="listingDuration">Or, choose an end time</label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            <label for="bestContactTime" class="">Best contact time</label>
                            <input auto-complete #inputValue class="form-control plate-number custm-input-design" id="bestContactTime" name="bestContactTime" [source]="bestContactArray" (valueChanged)="valueChanged($event)" placeholder="" [(ngModel)]="bestContactTime" />
                        </div>
                    </div>
                  </div>  
                </form>
                <button type="submit" class="btn btn-default nxt-btn" (click)="onClickChangeT('carListingbtn')">NEXT</button>
            </div>
            <div [ngClass]="{ 'active': showPhotoClass }" [class.in]="showPhotoClass" role="tabpanel" id="Photos" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                <button type="submit" class="btn btn-default nxt-btn" (click)="onClickChangeT('showPhotosbtn')">NEXT</button>
            </div>
            <div [class.active]="showDetailsClass" [class.in]="showDetailsClass" role="tabpanel" id="Confirmation" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
    </div>
</div>