<div class="login jumbotron center-block">
   <div class="row">
      <h3 class="text-center login--text">Login</h3>
      <p class="text-center login--subtitle">Continue with your social login</p>
      <div>
          <span><img src="assets/google+.jpg" alt="Google+ Login"></span>
          <span class="fb--btn"><img src="assets/facebook.jpg" alt="Facebook Login"></span>
      </div>
      <p class="text-center login--subtitle" style="margin-top:15px;">or</p>
      <form role="form" (submit)="login($event, email.value, password.value)">
         <div class="input-group margin--15">
           <span class="input-group-addon"><img src="assets/email-icon.png" alt="Email"></span>
           <input type="email" #email class="form-control input--box" id="email" placeholder="Email address">
         </div>
         <div class="input-group margin--15">
           <span class="input-group-addon"><img src="assets/password.png" alt="Password"></span>
           <input type="password" #password class="form-control input--box" id="password" placeholder="Password">
         </div>
         <p style="color: #0070bb; font-size:15px;">Forgot your Password?</p>
         <button type="submit" class="btn btn-default login-btn">LOG IN</button>
         <div style="margin-top:30px;" class="register--link">
             <h5>Don't have an account yet? <a [routerLink]="['/signup']" class="ml-7 cr-register-call" data-bypass="" href="" datalayer="REGISTER_POPUP_LINK">REGISTER</a></h5>
         </div>
      </form>
   </div>
</div>