
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div *ngIf="!userLoggedIn" class="header-top">
		<div class="container register">
			<div class="header-top-left">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="assets/logo.png" alt=""/></a>
				</div>
				<div *ngIf="!userLoggedIn" id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a [routerLink]="['/sell']"><span class="pad--right--5"><img src="assets/sell-icon.png" alt=""></span>Sell</a></li>
						<li><a [routerLink]="['/myaccount']"><span class="pad--right--5"><img src="assets/user-icon.png" alt=""></span>My Account</a></li>
						<li><a [routerLink]="['/home']"><span class="pad--right--5"><img src="assets/help-icon.png" alt=""></span>Help</a></li>
						<li><a [routerLink]="['/login']" href="#"><span><img class="pad--right--5" src="assets/login-icon.png" alt=""></span>Login</a></li>
					</ul>
				</div><!--/.nav-collapse -->
				<div *ngIf="userLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a [routerLink]="['/sell']"><span class="glyphicon glyphicon-shopping-cart pad--right--5"></span>Sell</a></li>
						<li><a href="#">Welcome <span>{{username}}</span></a></li>
						<li><a (click)="logout()">Logout</a></li>
						<li><a [routerLink]="['/home']"><span class="glyphicon glyphicon-headphones pad--right--5"></span>Help</a></li>
					</ul>
				</div>			 
			</div>
		</div>
	</div>
</nav>
<div class="container main-container">
	<router-outlet></router-outlet>
</div>
<!-- Push Footer -->
<footer class="footer">
	<div class="container">
		<div class="row footerTop">
			<div class="col-sm-3">
				<div class="foot-links">
					<a [routerLink]="['/home']">Search</a>
					<a [routerLink]="['/home']">Buy</a>
					<a [routerLink]="['/home']">Help</a>
					<a [routerLink]="['/home']">My account</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="foot-links">
					<a [routerLink]="['/home']">Contact Us</a>
					<a [routerLink]="['/home']">Carrier</a>
					<a [routerLink]="['/home']">Press</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="foot-links">
					<a [routerLink]="['/home']">FAQs</a>
					<a [routerLink]="['/home']">Blogs</a>
					<a [routerLink]="['/home']">Pay</a>
					<a [routerLink]="['/home']">Selling guide</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="foot-links">
					<p>GET IN TOUCH</p>
					<span>
						<span class="shift--5"><img src="assets/fb-icon.png" alt="Kwikz Facebook Page"></span>
						<span class="shift--5"><img src="assets/twitter-icon.png" alt="Kwikz Twitter Page"></span>
						<span class="shift--5"><img src="assets/youtube-icon.png" alt="Kwikz Youtube Page"></span>
						<span><img src="assets/google-plush-icon.png" alt="Kwikz Google Plus Page"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="footer--span text-center" style="padding-top: 28px;">
					<span>Policies: </span><span>Terms Of Use  /  </span><span>Security Privacy  /  </span><span>Infrigement</span>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- Company Information -->
</footer>