<div class="col-sm-12 profile-header">
    <div class="profile-header-container">
        <span class="user-info">
      <span class="user-title pull-right">
        <span>Akshay Kumar</span>
        <br/>
        <span>Member since November 29, 2010</span>
        </span>
        <span class="user-profile-pic">
        <img src="assets/akshayk.jpg" class="img-circle" alt="Profile Picture" />  
      </span>
        </span>
    </div>
</div>

<div id="hellobar-bar" class="regular closable">
    <div class="hb-content-wrapper">
        <div class="hb-text-wrapper">
            <div class="hb-headline-text">
                <p><span>Your phone number is yet not verified. Please verify it to get notifications.</span></p>
            </div>
        </div>
        <a href="http://www.lisenme.com/" target="_blank" class="hb-cta hb-cta-button">
            <div class="hb-text-holder">
                <p>Verify Phone Number</p>
            </div>
        </a>
    </div>
    <div class="hb-close-wrapper">
        <a href="javascript:void(0);" class="icon-close" onClick="$('#hellobar-bar').fadeOut()">&#10006;</a>
    </div>
</div>

<div class="col-sm-12" id="settings-nav">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#accounts" class="no-bg" aria-controls="accounts" role="tab" data-toggle="tab">Accounts</a></li>
        <li role="presentation"><a href="#selling" class="no-bg" aria-controls="selling" role="tab" data-toggle="tab">Selling</a></li>
        <li role="presentation"><a href="#buying" class="no-bg" aria-controls="buying" role="tab" data-toggle="tab">Buying</a></li>
        <li role="presentation"><a href="#feedback" class="no-bg" aria-controls="feedback" role="tab" data-toggle="tab">Feedback</a></li>
    </ul>
</div>
<!-- Nav tabs -->

<div class="card col-sm-12">

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="accounts">
            <ul class="basic-list">
                <li id="basics"  class="subcategory">
                    <h2>Basics</h2>
                </li>
                <li id="name-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Name</h3>
                      <p class="sub-heading">Change name on your account</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="picture-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Profile picture</h3>
                      <p class="sub-heading">Add or remove profile picture on your account</p>
                      <span class="indicator">Change</span>
                    </a>
                </li> 
                <li id="password-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Change password</h3>
                      <p class="sub-heading">Choose a unique password to protect your account</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="email-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Email addresses</h3>
                      <p class="sub-heading">Add or remove email addresses on your account</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="phone-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Phone Number</h3>
                      <p class="sub-heading">Add a phone number in case you have trouble signing in</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="address-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Address</h3>
                      <p class="sub-heading">Add or Update your address</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="AAAA"  class="subcategory">
                    <h2>AAAA</h2>
                </li>
                <li id="payment-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Payment instruction</h3>
                      <p class="sub-heading">Add or Update your payment method</p>
                      <span class="indicator">Change</span>
                    </a>
                </li> 
                <li id="payment-options-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Payment options</h3>
                      <p class="sub-heading">Add or Update your payment method</p>
                      <span class="indicator">Change</span>
                    </a>
                </li> 
                <li id="transactions-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Transactions</h3>
                      <p class="sub-heading">View your transaction history</p>
                      <span class="indicator">Change</span>
                    </a>
                </li> 
                <li id="Credit-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Invite/Credit</h3>
                      <p class="sub-heading">View your credits. Invite your friends.</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="account"  class="subcategory">
                    <h2>Account</h2>
                </li>
                <li id="privacy-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Privacy settings</h3>
                      <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>                                                                                                                                                                                                                         
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="selling">
              <ul class="selling-list">
                <li id="selling"  class="subcategory">
                    <h2>Basics</h2>
                </li>
                <li id="sold-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Sold items</h3>
                      <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="unsold-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Unsold items</h3>
                      <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="items-selling-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Items I am selling</h3>
                      <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>                                                     
              </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="buying">
             <ul class="buying-list">
               <li id="buying"  class="subcategory">
                   <h2>Basics</h2>
               </li>
               <li id="item-bought-settings">
                   <a href="#" class="expander">
                     <h3 class="heading">Item bought</h3>
                     <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                     <span class="indicator">Change</span>
                   </a>
               </li>
               <li id="watchlist-settings">
                   <a href="#" class="expander">
                     <h3 class="heading">Watchlist</h3>
                     <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                     <span class="indicator">Change</span>
                   </a>
               </li>
               <li id="items-Lost-selling-settings">
                   <a href="#" class="expander">
                     <h3 class="heading">Item lost</h3>
                     <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                     <span class="indicator">Change</span>
                   </a>
               </li>                                                     
             </ul>          
        </div>
        <div role="tabpanel" class="tab-pane" id="feedback">
              <ul class="feedback-list">
                <li id="feedback"  class="subcategory">
                    <h2>Basics</h2>
                </li>
                <li id="feedback-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">All feedback</h3>
                      <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="buying-feedback-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Buying feedback</h3>
                      <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>
                <li id="selling-feedback-settings">
                    <a href="#" class="expander">
                      <h3 class="heading">Selling Feedback</h3>
                      <p class="sub-heading">Change your privacy settings. Keep your account safe.</p>
                      <span class="indicator">Change</span>
                    </a>
                </li>                                                     
              </ul>          
        </div>
    </div>
</div>