<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Keywords<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse1" class="panel-collapse collapse in">
       		 <div class="panel-body">
             <form role="form" (submit)="keywordSearch($event, keyword.value)">
				<div class="input-group input-group-md searchField">

            <input type="text" #keyword id="keyword" class="form-control input-box" placeholder="Search">
            <div class="input-group-btn input-group-shadow">
              <button class="btn btn-default btn-customize" type="submit">
              <img src="../assets/search-box.png">
              </button>
            </div>

				</div>
               </form>
			</div>
     	 </div>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Price Range<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse2" class="panel-collapse collapse">
       		 <div class="panel-body">
			 </div>
     	 </div>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Brand & Model<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse3" class="panel-collapse collapse">
       		 <div class="panel-body">
				<p>Brand & Model</p>
			</div>
     	 </div>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Model Year<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse4" class="panel-collapse collapse">
       		 <div class="panel-body">
				<p>Model Year</p>
			</div>
     	 </div>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Fuel Type<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse5" class="panel-collapse collapse">
       		 <div class="panel-body">
				<p>Fuel Type</p>
			</div>
     	 </div>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">KMs Driven<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse6" class="panel-collapse collapse">
       		 <div class="panel-body">
				<p>KMs Driven</p>
			</div>
     	 </div>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Body Type<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse7" class="panel-collapse collapse">
       		 <div class="panel-body">
				<p>Body Type</p>
			</div>
     	 </div>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Transmission<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse8" class="panel-collapse collapse">
       		 <div class="panel-body">
				<p>Transmission</p>
			</div>
     	 </div>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Color<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse9" class="panel-collapse collapse">
       		 <div class="panel-body">
				<p>color</p>
			</div>
     	 </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading panel-CustHeading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Location<span class="pull-right toggle-class"></span></a>
			</p>
      	</div>
      	<div id="collapse9" class="panel-collapse collapse">
       		 <div class="panel-body">
				<p>Location</p>
			</div>
     	 </div>
    </div>	

</div>
<div class="vehicleReport-block">
	<div class="vehicleReport">
		<span class="title">Get Vehicle Report</span><br/>
		<span class="text">Powered by Carjam</span>
	</div>
</div>
