
*::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c0c0c0;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c0c0c0;
   opacity:  1;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c0c0c0;
   opacity:  1;
}
*:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c0c0c0;
}
*::-ms-input-placeholder { /* Microsoft Edge */
   color:    #c0c0c0;
}
ul, ol {
  margin: 0;
  list-style: none;
}    
.clear {
  clear: both;
}
.promotional-block li {
  margin-bottom: 30px;
}
.promotional-block li:last-child {
  margin: 0;
}  
.promotional-block{
box-sizing: border-box;
text-align: center;
}
.promotion-heading{
font-size: 48px;
color: #4e4e4e;
margin-bottom: 40px;  
}
.imghold {
  float: left;
  width: 82px;
  margin-right: 22px;
}
.promo-content{
  text-align: left;
  padding-top: 20px;
}  
.promotion-subhead{
font-size: 18px;
color: #4e4e4e; 
}
.promo-details{
font-size: 16px;
color: #7a7a7a;   
}
.signup {
width: 75%;
}
.input--box{
  padding: 10px 18px;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 0;
  height: 42px; 
}
.login-btn{
  background-color: #0070bb;
  color: #FFF;
  font-weight: 700;
  border: none;
  width: 100%;
  padding: 10px 0;
  border-radius: 0;
}
.margin--15{
  margin-bottom: 15px;
}
.input-group-addon:first-child{
  border: 1px solid #ebebeb;
  border-radius: 0;
  border-right: 0;
}
.jumbotron{
  background: #f7f7f7;
  padding-top: 0px;
  box-shadow: 0px 4px 0px 0px rgba(209, 207, 207, 0.4);
  border-radius: 5px;
}
.register--text{
  color: #4e4e4e;
}
.regSuccessMessage, .regFailureMessage{
    font-size: 18px;
    text-align: center;
}
.regSuccessMessage{
    color:green
}
.regFailureMessage{
    color:red;
}
.regSuccessMessage .fa-check-circle{
    color:green;
}
.regFailureMessage .fa-times-circle{
    color:red;
}