<div class="row">  
  <div class="col-sm-3">
    <app-filters></app-filters>
  </div>
    <div class="col-md-9">
      <section class="listing-breadCrumbs row">
          <p class="breadCrumbs">
            <a href="#">Kwik</a><span> ></span>
            <a href="#">Used Cars</a><span> ></span>
            <a href="#">Region</a><span> ></span>
            <a href="#">Honda</a>
          </p>
      </section>
      <section class="social-container row">
         <span>
           <span class="fb-bckg"><img src="assets/facebook.png"/></span>
           <span class="gp-bckg"><img src="assets/google-plus.png"/></span>
         </span>
      </section>
      <section class="listing-container row">
        <span>
          <span id="listing-heading">Model No. & Make</span>
          <span><a href="#" class="pull-right watchlist-btn">+ Watchlist</a></span>
        </span>
      </section>
      <section class="car-info row">
        <span>
          <span class="to-bold">Area: </span><span class="to-bold">Hamilton</span><span> | </span>
          <span class="to-bold">Asking Price: </span><span class="to-bold">$2,000</span><span> | </span>
          <span class="to-bold">Updated On: </span><span class="to-bold">20-May</span><span> | </span>
          <span class="to-bold">Views: </span><span class="to-bold">2,033</span><span> | </span>
          <span class="to-bold">Interested Buyers: </span><span class="to-bold">23</span>        
        </span>
      </section>
      <section class="imag-carousel row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="assets/eclass.jpg" alt="Chania">
            </div>
            <div class="item">
              <img src="assets/eclass.jpg" alt="Chicago">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>        
      </section>
      <section id="car-details" class="row">
        <ul class="car-details-section">
          <li>
            <div class="iconholder"><img src="assets/calander.png"/></div>
            <div class="dttwo">Model</div>
            <div class="dttop">2012</div>
          </li>
          <li>
            <div class="iconholder"><img src="assets/km.png"/></div>
            <div class="dttwo">Driven</div>            
            <div class="dttop">23,000 Km</div>
          </li>
          <li>
            <div class="iconholder"><img src="assets/fuel.png"/></div>
            <div class="dttwo">Fuel</div>            
            <div class="dttop">Petrol</div>
          </li>
          <li>
            <div class="iconholder"><img src="assets/seller.png"/></div>
            <div class="dttwo">Seller</div>            
            <div class="dttop">Dealer</div>
          </li> 
          <li>
            <div class="iconholder"><img src="assets/transmission.png"/></div>
            <div class="dttwo">Transmission</div>            
            <div class="dttop">Automatic</div>
          </li>
          <li>
            <div class="iconholder"><img src="assets/owner.png"/></div>
            <div class="dttwo">Owner</div>            
            <div class="dttop">First</div>
          </li> 
          <li>
            <div class="iconholder"><img src="assets/color.png"/></div>
            <div class="dttwo">Color</div>            
            <div class="dttop">White</div>
          </li>                             
        </ul>
      </section>    

      <section class="row main-box">
          <p class="key-details">Key details</p>
          <span class="grey-divider"></span>
          <!-- Nav tabs -->
            <div class="card">
              <!-- Tab panes -->
                    <div class="panel-group" id="accordion1">
                      <div class="panel panel-default col-md-12">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#carSpecification">Car Specification<span class="glyphicon glyphicon-plus-sign pull-right"></span></a>
                            </h4>
                          </div>
                          <div id="carSpecification" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="details-panel">
                                  <li>
                                      <div class="leftview">Color</div>
                                      <div class="rightview">Yellow</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Gear Box</div>
                                      <div class="rightview">7 Speed</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Drive Type</div>
                                      <div class="rightview">4WD</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Seating Capacity</div>
                                      <div class="rightview">2</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Steering Type</div>
                                      <div class="rightview">Power</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Turning Radius</div>
                                      <div class="rightview">6.25 metres</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Front Brake Type</div>
                                      <div class="rightview">Carbon Ceramic Brake</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Rear Brake Type</div>
                                      <div class="rightview">Carbon Ceramic Brake</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Top Speed</div>
                                      <div class="rightview">350 Kmph</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Acceleration</div>
                                      <div class="rightview">2.9 Seconds</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Tyre Type</div>
                                      <div class="rightview">Tubeless,Radial</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Alloy Wheel Size</div>
                                      <div class="rightview">20 Inch</div>
                                  </li>
                                  <li>
                                      <div class="leftview">No Of Doors</div>
                                      <div class="rightview">2</div>
                                  </li>
                                  <li>
                                      <div class="leftview">Cargo Volume</div>
                                      <div class="rightview">110-litres</div>
                                  </li>
                                </ul>
                            </div>
                          </div>
                          <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#engineSpecification">Engine Specification<span class="glyphicon glyphicon-plus-sign pull-right"></span></a>
                            </h4>
                          </div>                        
                          <div id="engineSpecification" class="panel-collapse collapse">
                            <div class="panel-body">
                              <ul class="details-panel">
                                <li>
                                    <div class="leftview">Engine Type</div>
                                    <div class="rightview">V12 Petrol Engine</div>
                                </li>
                                <li>
                                    <div class="leftview">Displacement</div>
                                    <div class="rightview">6498</div>
                                </li>
                                <li>
                                    <div class="leftview">Max Power</div>
                                    <div class="rightview">690.63bhp@8250rpm</div>
                                </li>
                                <li>
                                    <div class="leftview">Max Torque</div>
                                    <div class="rightview">690Nm@5500 rpm</div>
                                </li>
                                <li>
                                    <div class="leftview">No Of Cylinder</div>
                                    <div class="rightview">12</div>
                                </li>
                                <li>
                                    <div class="leftview">Valves Per Cylinder</div>
                                    <div class="rightview">4</div>
                                </li>
                                <li>
                                    <div class="leftview">Valve Configuration</div>
                                    <div class="rightview">DOHC</div>
                                </li>
                                <li>
                                    <div class="leftview">Fuel Supply System</div>
                                    <div class="rightview">MPI</div>
                                </li>
                                <li>
                                    <div class="leftview">BoreX Stroke</div>
                                    <div class="rightview">95 X 76.4 mm</div>
                                </li>
                                <li>
                                    <div class="leftview">Compression Ratio</div>
                                    <div class="rightview">11.8:1</div>
                                </li>
                                <li>
                                    <div class="leftview">Turbo Charger</div>
                                    <div class="rightview">Yes</div>
                                </li>
                                <li>
                                    <div class="leftview">superCharger</div>
                                    <div class="rightview">No</div>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#carDimensions">Car Dimensions<span class="glyphicon glyphicon-plus-sign pull-right"></span></a>
                            </h4>
                          </div>                        
                          <div id="carDimensions" class="panel-collapse collapse">
                            <div class="panel-body">
                              <ul class="details-panel">
                                <li>
                                  <div class="leftview">Length</div>
                                  <div class="rightview">4780mm</div>
                                </li>
                                <li>
                                  <div class="leftview">Width</div>
                                  <div class="rightview">2265mm</div>
                                </li>
                                <li>
                                  <div class="leftview">Height</div>
                                  <div class="rightview">1136mm</div>
                                </li>
                                <li>
                                  <div class="leftview">Ground Clearance</div>
                                  <div class="rightview">125mm</div>
                                </li>
                                <li>
                                  <div class="leftview">Wheel Base</div>
                                  <div class="rightview">2700mm</div>
                                </li>
                                <li>
                                  <div class="leftview">Front Tread</div>
                                  <div class="rightview">1720mm</div>
                                </li>
                                <li>
                                  <div class="leftview">Rear Tread</div>
                                  <div class="rightview">1700mm</div>
                                </li>
                                <li>
                                  <div class="leftview">Kerb Weight</div>
                                  <div class="rightview">1575kg</div>
                                </li>                              
                              </ul>
                            </div>
                          </div>                      
                      </div>
                    </div>

            </div>
      </section>

      <section class="row main-box"  id="buy-vehicle-report">
          <p class="key-details">Interested in this vehicle?</p>
          <span class="grey-divider"></span>

          <div>
            <div class="col-md-8">
                Get a full report before purchasing for up-to-date info, plus odometer readings and ownership check.
            </div>
            <div class="col-md-4">
                <a href="#" class="pull-right gvr-btn">Buy Report</a>
            </div>  
          </div>
      </section>
      
      <section class="row main-box"  id="vehicle-features">
          <p class="key-details">Features</p>
          <span class="grey-divider"></span>
          <div class="col-md-12">
              <table width="100%">
                  <tbody>
                      <tr>
                          <td>
                              <div class="white-spaces">ABS brakes</div>
                          </td>
                          <td>
                              <div class="white-spaces">Air conditioning</div>
                          </td>
                          <td>
                              <div class="white-spaces">Alarm</div>
                          </td>
                          <td>
                              <div class="white-spaces">Alloy wheels</div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="white-spaces">Central locking</div>
                          </td>
                          <td>
                              <div class="white-spaces">Driver airbag</div>
                          </td>
                          <td>
                              <div class="white-spaces">Passenger airbag</div>
                          </td>
                          <td>
                              <div class="white-spaces">Power steering</div>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </section> 
      
      <section class="row main-box"  id="vehicle-description">
          <p class="key-details">Description</p>
          <span class="grey-divider"></span>
          <div class="col-md-12">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>      
      </section>    

      <section class="row">
        <app-relatedads></app-relatedads>
      </section>
    </div>
</div>