<div class="row">
  <div class="col-md-12">
    <p class="recomm-cars">Recommended Cars</p>
  </div>
  <div class="col-md-6">
    <ul>
      <li class="listed-ads">
        <div class="ad-details">
          <div class="image-holder">
            <img src="assets/cars-for-sale-perth.jpg" alt="Chicago"/>
          </div>
          <div class="details-container">
            <div class="ad-title">
              <a href="">Honda Brio VX MT</a>
            </div>
            <div class="asking-price">
              <span>Asking Price:</span><span> $2,350</span>
            </div>
            <table class="table-format">
              <tbody>
                <tr>
                  <td>2010</td><td><span class="margin-l margin-r">|</span></td>
                  <td>30,100 Km</td><td><span class="margin-l margin-r">|</span></td>
                  <td>Petrol</td>
                </tr>
              </tbody>
            </table>
            <div>
              <span><a href="#" class="watchlist-btn">+ Watchlist</a></span>  
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

    <div class="col-md-6">
    <ul>
      <li class="listed-ads">
        <div class="ad-details">
          <div class="image-holder">
            <img src="assets/cars-for-sale-perth.jpg" alt="Chicago"/>
          </div>
          <div class="details-container">
          <div class="ad-title">
            <a href="">Honda Brio VX MT</a>
          </div>            
            <div class="asking-price">
              <span>Asking Price:</span><span> $2,350</span>
            </div>
            <table class="table-format">
              <tbody>
                <tr>
                  <td>2010</td><td><span class="margin-l margin-r">|</span></td>
                  <td>30,100 Km</td><td><span class="margin-l margin-r">|</span></td>
                  <td>Petrol</td>
                </tr>
              </tbody>
            </table>
            <div>
              <span><a href="#" class="watchlist-btn">+ Watchlist</a></span>  
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
