/* You can add global styles to this file, and also import other style files */
@font-face { font-family: "Kanit-regular"; src: url("./assets/fonts/Kanit-Regular.ttf"); }

body {
  font-family: "Kanit-regular";
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

