<div>
	<div class="row">
		<div class="col-sm-3">
			<app-filters></app-filters>
		</div>
		<div class="col-sm-9">
			 <div class="row">
				<div class="homeBanner">
					<img style="width:100%;" src="assets/carBanner.jpg"/>
				</div>
				<div class="searchResults">
					<div class="carbybodytype">
						<p class="searchResultsTitle">By Body Type</p>


							<div class="col--25">
								<div class="car--box">
									<a [routerLink]="['/carposts']" title="Hatchback Cars" href="#">
										<span class="hatchback car-blocks"></span>
									</a>
									<p class="car-type">Hatchback</p>
								</div>
							</div>
							<div class="col--25">
								<div class="car--box">
									<a [routerLink]="['/postblocks']" title="Sedan Cars" href="#">
										<span class="sedan car-blocks"></span>
									</a>
									<p class="car-type">Sedan</p>
								</div>
							</div>      
							<div class="col--25">
								<div class="car--box">
									<a title="Station Wagon" href="#">
										<span class="station-wagon car-blocks"></span>
									</a>
									<p class="car-type">Station Wagon</p>
								</div>
							</div>
							<div class="col--25">
								<div class="car--box">
									<a title="SUV Cars" href="#">
										<span class="suv car-blocks"></span>
									</a>
									<p class="car-type">SUV</p>
								</div>
							</div>



							<div class="col--25">
								<div class="car--box">
									<a title="Classic Cars" href="#">
										<span class="classic car-blocks"></span>
									</a>
									<p class="car-type">Classic</p>
								</div>
							</div>
							<div class="col--25">
								<div class="car--box">
									<a title="Luxury Cars" href="#">
										<span class="luxury car-blocks"></span>
									</a>
									<p class="car-type">Luxury</p>
								</div> 
							</div>
							<div class="col--25">
								<div class="car--box">
									<a title="Hybrid Cars" href="#">
										<span class="hybrid car-blocks"></span>
									</a>
									<p class="car-type">Hybrid</p>
								</div>              
							</div>
							<div class="col--25">
								<div class="car--box">
									<a title="Utility Cars" href="#">
										<span class="ute car-blocks"></span>
									</a>
									<p class="car-type">Utility</p>
								</div>
							</div>
	

							<div class="col--25">
								<div class="car--box">
									<a title="Minivans Cars" href="#">
										<span class="Minivans car-blocks"></span>
									</a>
									<p class="car-type">Minivans</p>
								</div>
							</div>
							<div class="col--25">
								<div class="car--box">
									<a title="Convertibles Cars" href="#">
										<span class="Convertibles car-blocks"></span>
									</a>
									<p class="car-type">Convertibles</p>
								</div> 
							</div>
							<div class="col--25">
								<div class="car--box">
									<a title="coupe Cars" href="#">
										<span class="coupe car-blocks"></span>
									</a>
									<p class="car-type">Coupe</p>
								</div>              
							</div>
							<div class="col--25">
								<div class="car--box">
									<a title="van Cars" href="#">
										<span class="van car-blocks"></span>
									</a>
									<p class="car-type">Van</p>
								</div>
							</div>
						</div>

					<div class="carByFuelType">
						<p>Search used car by filter type</p>
						<div class="col--100">
							<div class="fuel-col-25">
								<div class="fuel-box">
									<a title="Diesel" href="#">
										<span class="diesel car-blocks"></span>
									</a>
									<p class="fuel-type">Diesel</p>
								</div>
							</div>
							<div class="fuel-col-25">
								<div class="fuel-box">
									<a title="Petrol" href="#">
										<span class="petrol car-blocks"></span>
									</a>
									<p class="fuel-type">Petrol</p>
								</div>
							</div>      
							<div class="fuel-col-25">
								<div class="fuel-box">
									<a title="CNG" href="#">
										<span class="cng car-blocks"></span>
									</a>
									<p class="fuel-type">CNG</p>
								</div>
							</div>
							<div class="fuel-col-25">
								<div class="fuel-box div--last">
									<a title="LPG" href="#">
										<span class="lpg car-blocks"></span>
									</a>
									<p class="fuel-type">LPG</p>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>