.red {
  color: red;
}
body{
  font-family: "Kanit-regular";
}
.background-grey{
    background-color: #f8f8f8;
}
.col--100{
  width: 100%;
  float: left;
}
.col--25{
  width: 25%;
  float: left;
  margin-bottom: 15px;
}
.fuel-col-25{
  width: 25%;
  float: left;
}
.div--last{
  margin-right: 0px !important;
}
p.searchResultsTitle{
  font-size: 24px;
  font-family: "Kanit-regular";
  color: #9c9c9c;
}
.car--box{
    padding: 20px 24px;
    margin-right: 15px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background: #fbfbfb;
    box-shadow: 0px 4px 0px 0px rgba(209, 207, 207, 0.4); 
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;       
}
.car--box:hover{
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}  
.carbybodytype li:hover{
	background: #ffffff;
}
.carbybodytype li a{
  	text-decoration:none;
}
.car-blocks{
 height: 60px;
 display:block;
}
.car-type, .fuel-type{
  font-family: "Kanit-regular";
  font-size: 14px;
  color: #aaaaaa;
}
p.car-type:hover{
  color: #f75a4d;
}
span.hatchback{
 background: transparent url('/assets/hatchback.png') center top no-repeat;
}
span.hatchback:hover {
   background-image: url('/assets/hatchback-hover.png');
}
span.sedan{
 background: transparent url('/assets/sedan.png') center top no-repeat;
}
span.sedan:hover {
   background-image: url('/assets/sedan-hover.png');
}
span.station-wagon{
 background: transparent url('/assets/Station-Wagon.png') center top no-repeat;
}
span.station-wagon:hover {
   background-image: url('/assets/Station-Wagon-hover.png');
}
span.suv{
 background: transparent url('/assets/suv.png') center top no-repeat;
}
span.suv:hover {
   background-image: url('/assets/suv-hover.png');
}
span.classic{
 background: transparent url('/assets/classic.png') center top no-repeat;
}
span.classic:hover {
   background-image: url('/assets/classic-hover.png');
}
span.luxury{
 background: transparent url('/assets/luxury.png') center top no-repeat;
}
span.luxury:hover {
   background-image: url('/assets/luxury-hover.png');
}
span.hybrid{
 background: transparent url('/assets/Hybrids.png') center top no-repeat;
}
span.hybrid:hover {
   background-image: url('/assets/Hybrids-hover.png');
}
span.ute{
 background: transparent url('/assets/ute.png') center top no-repeat;
}
span.ute:hover {
   background-image: url('/assets/ute-hover.png');
}
span.Minivans{
 background: transparent url('/assets/Minivans.png') center top no-repeat;
}
span.Minivans:hover {
   background-image: url('/assets/Minivans-hover.png');
}
span.Convertibles{
 background: transparent url('/assets/Convertibles.png') center top no-repeat;
}
span.Convertibles:hover {
   background-image: url('/assets/Convertibles-hover.png');
}
span.coupe{
 background: transparent url('/assets/cope.png') center top no-repeat;
}
span.coupe:hover {
   background-image: url('/assets/cope-hover.png');
}
span.van{
 background: transparent url('/assets/van.png') center top no-repeat;
}
span.van:hover {
   background-image: url('/assets/van-hover.png');
}

.fuel-box{
    padding: 40px 24px;
    margin-right: 15px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background: #fff;
}
span.diesel{
 background: transparent url('/assets/diesel.png') center top no-repeat;
}
span.diesel:hover {
   background-image: url('/assets/diesel-hover.png');
}
span.petrol{
 background: transparent url('/assets/petrol.png') center top no-repeat;
}
span.petrol:hover {
   background-image: url('/assets/petrol-hover.png');
}
span.cng{
 background: transparent url('/assets/cng.png') center top no-repeat;
}
span.cng:hover {
   background-image: url('/assets/cng-hover.png');
}
span.lpg{
 background: transparent url('/assets/lpg.png') center top no-repeat;
}
span.lpg:hover {
   background-image: url('/assets/lpg-hover.png');
}


 /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      
          }
      
          /* Extra Small Devices, Phones */ 
          @media only screen and (min-width : 480px) {
      
          }
      
          /* Small Devices, Tablets */
          @media only screen and (min-width : 768px) {
            .col--25{
              width: 33.33%;
            }
            .car--box{
              padding: 20px 12px;
            }
          }
      
          /* Medium Devices, Desktops */
          @media only screen and (min-width : 992px) {
            .col--25{
              width: 33.33%;
            }
          }
      
          /* Large Devices, Wide Screens */
          @media only screen and (min-width : 1200px) {
      
          }